<div class="d-flex align-items-center justify-content-center">
  <h1 class="subheader">Dashboard</h1>
</div>
<hr>

<div class="container-flex">
  <div class="container">
    <h1>Welcome <%= @user.first_name %></h1>
  </div>
</div>