<footer>
<h3><strong class="footer-strong">Insight Valuations, LLC</strong></h3>
<h3>We Can Value That&#8482</h3>
<h3>Houston, Texas</h3>
<p class="text-muted">Copyright &copy 2023 Insight Valuations, LLC - All Rights Reserved.</p>
<p class="text-muted">
  This site is <strong>SOON</strong> to be protected by reCAPTCHA and both the
  <%= link_to "Google Privacy Policy", "https://policies.google.com/privacy" %>
  and <%= link_to "Terms of Service", "https://policies.google.com/terms" %>
  will apply.
</p>
</footer>