<h2 class="subheader"> We Can Value That&#8482 </h2>
<hr>
<strong>You</strong> are a business owner who wants an idea of how much your company is worth. You're thinking of taking on a partner, buying out a partner, or may be contemplating a sale of your business and just want to get a feel for where things stand before you initiate the more comprehensive process of engaging lawyers, brokers, and other specialists in pursuit of your larger objectives. You want to test the waters before diving headfirst into the deep end in terms of scope and fee.</p>



<strong>Insight Valuations</strong> does not just provide an opinion of value, but empowers business owners by providing a foundational understanding how key drivers affect their company's value.



<p>Our valuation specialists are qualified and accredited appraisers who hold the Accredited Senior Appraiser (ASA) credential with the American Society of Appraisers, the Accredited in Business Valuation (ABV) credential designated by the American Institute of Certified Public Accountants, and the Chartered Financial Analyst® (CFA) designation awarded by the CFA Institute.</p>



<p>We work with you on either an hourly or flat-fee basis according to the needs of your engagement. Insight Valuations is able to offer low-fee engagements by focusing on the provision of Fair Market Value appraisals of 100% interests in companies at the business enterprise or equity level.</p>



<p>If Insight Valuations may not be the most appropriate shop for your engagement, we would be happy to provide referrals to other valuation firms better suited to address your more complex valuation or financial reporting needs. </p>


