<div class="d-flex align-items-center justify-content-center">
  <h1 class="subheader"> We Can Value That&#8482 </h1>
</div>
<hr>

<div class="container page-content">
  <p class="text-muted"><strong>You are a business owner who wants an idea of how much your company is worth. </strong>You are contemplating a proposed transaction involving your business and just want to get a feel for your company's total value before initiating the more comprehensive process of engaging lawyers, brokers and other specialists in pursuit of your larger objectives, which perhaps may involve only a partial interest in your company. You want to test the waters before diving headfirst into the deep end in terms of scope and fee.</p>

  <p class="text-muted"><strong>Insight Valuations does not just provide an opinion of value, but empowers business owners by providing a foundational understanding how key drivers affect their company's value.</strong></p>

  <p class="text-muted"><strong>Insight Valuations</strong> offers several options when it comes to your preferred deliverable, including letter summaries or comprehensive valuation reports, and may include the development of methods within the Income, Market and Cost approaches, or a subset of those approaches and methods (as appropriate). Irrespective of the comprehensive or summary nature of the deliverable or the specific approaches and methods developed and presented therein, our scope of work will always include a thorough understanding of your company’s operations, historical performance and projections. Beyond the initial engagement, we offer the option of purchasing three quarterly updates in the form of letter summaries at a reduced fee so you can track the trajectory of your company’s value over the following year as actual performance is realized and your projections evolve.</p>

  <p class="text-muted">Depending on the complexity of the engagement, including the selected approaches and methods to be developed, report deliverable and sophistication of the intended user of the produced appraisal report, the typical fee range for the initial engagement is $2,500 to $7,000, with the option fee for three quarterly letter summary updates set at a flat rate of $3,000.</p>

  <p class="text-muted"><strong>Insight Valuations is able to offer low-fee engagements by focusing on the provision of Fair Market Value appraisals of a 100% interest in your company at the business enterprise or equity level.</strong> We are happy to provide referrals to other valuation firms better suited to address more complex valuation or financial reporting needs.</p>

  <p class="text-muted">Our valuation specialists are qualified and accredited appraisers who hold the Accredited Senior Appraiser (ASA) credential awarded by the American Society of Appraisers, the Accredited in Business Valuation (ABV) credential designated by the American Institute of Certified Public Accountants, and/or the Chartered Financial Analyst® (CFA) designation awarded by the CFA Institute.</p>
</div>  


