/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//   @font-face {
//   font-family: "My Awesome Font";
//   font-style: normal;
//   font-weight: 400;
//   font-display: block;
//   src: font-url("lighters_demo.otf");
// }

.required::after {
  content: " \002A";
  color: red;
  font-size: 17.5px;
}

  @import "font-awesome";

  
  body {
    padding-top: 56px; /* Adjust the body padding to accommodate the navbar */
  }
  
  .translucent-navbar {
    background-color: rgba(178, 218, 244, 1) !important; /* Set the background color to translucent white */
  }

  @media (min-width: 767px) {
    body {
      padding-top: 0; /* Reset the body padding for larger screens */
    }

    .profile-section {
      flex-direction: column; /* Stack elements vertically */
    }

    .employee-info {
      margin-left: 0; /* Reset margin for small screens */
      text-align: center; /* Center info */
    }
  }
  
  

  .page-content {
    margin-top: 2.5rem;
    font-size:x-large;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .right-link {
    margin-right: 5vh;
  }

  hr {
    margin: auto;
    width: 2.5rem;
    border-top: .125rem solid #595959;
    // margin-bottom: 1.5rem;
  }

  .profile-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .profile_pic {
    margin-top: 2rem;
    width: 25rem;
    height: auto;
  }



  // .logo img {
  //   width: 72.5vh;
  //   height: auto;
  //   margin-top: 1.5rem;
  //   margin-bottom: 1.5rem;
  //   padding-left: 5vh;
  // }

  .container-flex {
    display: flex;
    margin: 10px
  }

  .side_by_side {
    display: flex;
    flex: 1;
  }

  .container a {
    text-decoration: none; /* Removes underlines */
  }

  .info {
    /* Styles for the info class */
    /* Your custom styles for lines 8-10 go here */
    /* For example: */
    text-align: left;
    margin-top: 1rem;
    p {
      margin-left: 0rem;
       /* Adjust spacing between paragraphs */
      /* Add more styles as needed */
    }
  
    /* You can also style specific paragraphs if needed */
    p:nth-child(1) {
      /* Styles for the first paragraph in .info */
    }
  
    p:nth-child(2) {
      /* Styles for the second paragraph in .info */
    }
  
    /* Add more styles as needed */
  }

  // html {
  //   font-size: 1rem;
  // }
  
  // @include media-breakpoint-up(sm) {
  //   html {
  //     font-size: 1.2rem;
  //   }
  // }
  
  // @include media-breakpoint-up(md) {
  //   html {
  //     font-size: 1.4rem;
  //   }
  // }
  
  // @include media-breakpoint-up(lg) {
  //   html {
  //     font-size: 1.6rem;
  //   }
  // }


  //   nav ul li{
  //   box-sizing: border-box;
  //   display: inline-block;
  //   visibility: visible;
  //   font-size: 20px;
  //   font-weight: 700;
  //   letter-spacing: 0.5px;
  //   word-spacing: normal;
  //   line-height: 24px;
  //   text-decoration-color: rgb(0,0,0);
  //   text-decoration-line: none;
  //   text-decoration-style: solid;
  //   text-decoration-thickness: auto;
  //   text-size-adjust: 100%;
  //   text-transform: uppercase;
  //   text-wrap: nowrap;
  //   white-space-collapse: collapse;
  //   -webkit-font-smoothing: antialiased;
  //   overflow-wrap: break-word;
  //   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  //   padding: 10px;  
  // }

  * {
    background-color: rgba(0,0,0,0);
    color: rgb(0, 0,0);
    text-decoration: none;

    font-family: Helvetica, arial, sans-serif;
  }

  .subheader-home {
    margin-top: 6.5rem;
    margin-bottom: 1.75rem;
  }

  .subheader {
    margin-top: 4rem;
    margin-bottom: 1.75rem;
  }

  .certs {
    font-size: small;
    margin-top: 3.5%;
  }
  


  .employee-name {
    font-family: Helvetica, arial, sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: .75rem;
  }

  .employee-nonpicture-info {
    text-align: left;
  }



  footer {
    margin-top: auto;
    position: block;
    margin-top: 3rem;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    text-align: center;
    }

  strong {
    font-weight: bolder;
    color: #60666a;
  }

  .subheader-bold {
    color: black;
  }


  .footer-strong {
    color: inherit;
  }
  
  .bio {
    margin-left: 5vh;
    margin-top: 5vh;
  }



  .navbar-start-margin {
    // padding-left: 5vh;
    margin-left: 5vh;
    // padding-right: 5vh;
    // margin-right: 0%;
  }

  .icon-link {
    margin: 0 1.25vh /* Adjust the margin as per your preference */
  }

  .icon-links {
  margin-top: 10px; /* Adjust as needed */
  }

  .employee-name-cert {
    display: inline-block;
  }

  .certifications {
    font-size: smaller; /* Adjust the font size as needed */
  }

  .no-list-style {
    list-style-type: none;
  }

  .employee-bio {
    font-size: larger;
    font-weight: 400;
    // padding-right: 2vh;
  }
  .employee-bio-2 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .img-fluid {
  }
  

  
  
  .logo-img {
    margin-top: 6rem;
    column-width: auto;
    width: 50rem;
    height: auto;
  }
  
