<header>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %> </li>
      <li><%= link_to "Leadership", leadership_path %> </li>
      <li><%= link_to "Contact Us", new_contact_form_path %> </li>
      <li><%= link_to "Sign Up!", sign_up_path %> </li>
    </ul>
  </nav>
</header>